.toggle-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #aef9f6;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    z-index: 15;
}

@media (max-width: 768px) {
    .toggle-button {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 100; /* Makes sure it stays on top */
    }

    .sidebar {
        width: 100%;
        position: fixed;
        z-index: 10; /* Sidebar below button */
    }

    .content {
        margin-left: 0;
    }
}
